<div class="container">
  <div class="row">
    <div class="col-6">
      <form action="" autocomplete="off">
        <div class="col">
          <label for="name" class="form-control">Masukan Nama Product</label>
          <input type="text" name="name" class="form-control" />
        </div>
        <div class="col">
          <label for="price" class="form-control">Masukkan Harga</label>
          <input type="text" name="price" class="form-control" />
        </div>
        <div class="col">
          <label for="price" class="form-control">Masukkan Asal Negara Barang</label>
          <input type="text" name="price" class="form-control" />
        </div>
      </form>
    </div>
    <div class="col-6"></div>
  </div>
</div>
