<div class="container" id="container_login">
  <div class="row justify-content-center align-items-center">
    <div class="col-lg-6">
      <div class="card p-5 shadow p-3 mb-5 bg-body rounded">
        <h1 class="fw-bold">Form Daftar</h1>
        <div class="alert alert-<%= color %>" role="alert"><%= alert %></div>
        <form action="/signup" method="POST" autocomplete="off" class="mb-4">
          <div class="col">
            <label for="email" class="form-label">Masukkan email</label>
            <input required type="email" name="email" class="form-control" />
          </div>
          <div class="col">
            <label for="password" class="form-label">Masukkan Password</label>
            <input required type="password" name="password" class="form-control" />
          </div>
          <div class="col">
            <button class="btn btn-success mt-1 w-100">Daftar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<style>
  a {
    text-decoration: none;
  }
  #container_login {
    margin-top: 10em;
  }
</style>
